.stateName-tests-count {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}
.stateName-heading {
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
  line-height: 48px;
  color: #0ea5e9;
  background-color: #0284c729;
  border-radius: 25px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .stateName-heading {
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.tests-container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-height: 768px) {
  .tests-container {
    margin-right: 30px;
    margin-top: 35px;
  }
}
.test-title {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  color: #94a3b8;
  padding-bottom: 0;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .test-title {
    font-size: 14px;
    padding-top: 45px;
  }
}
.tests-no {
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
  color: #94a3b8;
}
@media screen and (max-width: 768px) {
  .tests-no {
    font-size: 20px;
  }
}
.last-time {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;
  color: #cbd5e1;
  padding-left: 15px;
}
@media screen and (max-width: 768px) {
  .last-time {
    font-size: 12px;
  }
}
.total-states-data-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}
.country-stats {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.top-districts-data-container {
  display: flex;
  flex-direction: column;
  padding-left: 35px;
  padding-right: 25px;
}
@media screen and (max-width: 768px) {
  .top-districts-data-container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.district-heading {
  font-family: 'Roboto';
  font-size: 28px;
  font-weight: 500;
  line-height: 48px;
  padding-top: 10px;
  padding-left: 15px;
}
@media screen and (max-width: 768px) {
  .district-heading {
    font-size: 24px;
    line-height: 20px;
  }
}
.Confirmed-color {
  color: #ff073a;
}
.Active-color {
  color: #007bff;
}
.Recovered-color {
  color: #28a745;
}
.Deceased-color {
  color: #6c757d;
}
.district-data-ul-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  flex-wrap: wrap;
}
.districts-container {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.charts-container {
  margin-top: 40px;
  padding-left: 60px;
  padding-right: 60px;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.state-details-main-container {
  display: flex;
  flex-direction: column;
  padding: 25px;
}
.main-container {
  min-height: 100vh;
  background-color: #161625;
  display: flex;
  flex-direction: column;
}
.map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
@media screen and (min-width: 768px) {
  .map-container {
    flex-direction: row;
    width: 100vw;
    justify-content: center;
    padding-left: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
.ncp-report-container {
  display: flex;
  width: 100%;
  padding-left: 15px;
}
@media screen and (min-width: 768px) {
  .ncp-report-container {
    flex-direction: column;
    padding-left: 0;
  }
}
.ncp-population {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #f1f5f9;
  padding-right: 25px;
}
@media screen and (min-width: 768px) {
  .ncp-population {
    font-size: 16px;
    line-height: 24px;
  }
}
.ncp-population-number {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #94a3b8;
  padding-right: 25px;
}
@media screen and (min-width: 768px) {
  .ncp-population-number {
    font-size: 24px;
    line-height: 24px;
  }
}
.ncp-tested {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #f1f5f9;
}
@media screen and (min-width: 768px) {
  .ncp-tested {
    font-size: 16px;
    line-height: 24px;
  }
}
.ncp-tested-number {
  font-family: '' 'Roboto' '';
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #94a3b8;
}
@media screen and (min-width: 768px) {
  .ncp-tested-number {
    font-size: 24px;
    line-height: 24px;
  }
}
.as-of-date {
  font-family: '' Roboto '';
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: right;
  color: #cbd5e1;
}
@media screen and (min-width: 768px) {
  .as-of-date {
    font-size: 12px;
    line-height: 0px;
    text-align: left;
  }
}
.ncp-heading {
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #94a3b8;
}
.ncp-main {
  width: 100%;
  margin-top: 30px;
  padding-left: 25px;
}
@media screen and (min-width: 768px) {
  .ncp-main {
    margin-left: 35px;
  }
}
