.all-list-item {
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
}

.states-name-container {
  width: 20%;
  padding: 0;
  margin: 0;
}

.state-name-home {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  color: #f1f5f9;
}
@media screen and (max-width: 768px) {
  .state-name-home {
    line-height: 12px;
    font-size: 10px;
  }
}
.home-columns {
  width: 15.8%;
}
.home-confirmed {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: #ff073a;
  text-align: right;
  padding-right: 65px;
}
@media screen and (max-width: 768px) {
  .home-confirmed {
    font-size: 10px;
    padding-left: 35px;
    line-height: 12px;
  }
}
.home-active {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: #007bff;
  text-align: right;
  padding-right: 70px;
}
@media screen and (max-width: 768px) {
  .home-active {
    font-size: 10px;
    padding-left: 35px;
    line-height: 12px;
  }
}
.home-recovered {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: #28a745;
  text-align: right;
  padding-right: 65px;
}
@media screen and (max-width: 768px) {
  .home-recovered {
    font-size: 10px;
    padding-left: 25px;
    line-height: 12px;
  }
}
.home-deceased {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: #6c757d;
  text-align: right;
  padding-right: 50px;
}
@media screen and (max-width: 768px) {
  .home-deceased {
    font-size: 10px;
    padding-left: 25px;
    line-height: 12px;
  }
}
.home-population {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: #94a3b8;
  text-align: right;
  padding-right: 45px;
}
@media screen and (max-width: 768px) {
  .home-population {
    font-size: 9px;
    padding-left: 12px;
    line-height: 12px;
  }
}
